    <div class="row mt-5 gap-3">
            <div class="col card text-white bg-primary mb-3">
                  <div class="card-header">SpeedRuns waiting verification</div>
                      <div class="card-body" id="speedrunCardBody">
                  </div>
            </div>
            <div class="col-3 card text-white bg-primary mb-3">
                  <div class="card-header">Requests</div>
                  <div class="card-body"></div>
            </div>
    </div>
    

    @section Scripts
    {
        <script src="~/js/Moderation.js"></script>
    }