@model IEnumerable<ModeratorViewModel>

@{
    ViewData["Title"] = "Moderators";
}

<h3 class="text-center">@ViewData["Title"]</h3>
<div class="text-center">
    <div class="row mt-5 gap-3">
        <div class="col card text-white bg-primary mb-3">
            <div class="card-body" >
                @foreach (var user in Model)
                {
                    <div class="container mb-3 row">
                         <div class="col">
                            <p>@user.Username</p>
                         </div>
                         <div class="col-3 text-center align-self-center">
                             <a asp-controller="Moderation" asp-action="RemoveMod" asp-route-modUserId="@user.Id" type="button" class="text-warning-emphasis btn btn-warning">
                                 Remove mod
                             </a>
                         </div>
                    </div>
                    <hr />
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Moderators.js"></script>
}

